*{
	font-size: 30px;
	background-color: #f0932b;
	color: black;
}

p{
	border-bottom:  2px solid black;
	max-width: 550px;
	min-width: 300px;
	margin: 10 px auto 10px auto;
	padding: 20px;
	padding-left: 20px;
	text-align: center;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 2px solid black;
	margin-left: 450px;
	background-color: #ffbe76;
	
}