body {
	background-color: #ffbe76;
	background-size: cover; 
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size: 10px;
	height: 97vh;
	width: 97vw;   
 }

.container{
	height: 500px; width: 400px;
	background-color: black;
	background-position: center;
	border-radius: 10px;

}

#anakayam{
	width: 200px;
}

.container p{
	color: white;
	font-size: 30px;
}

.container button{
	background-color: #ffbe76;
}

.container input{
	height: 30px;width:250px;
	text-align: center;
	padding-left: 5px;
	font-size: 15px
	border: 2px solid #ffbe76;
	border-radius: 3%;
	box-shadow: 3px 3px 3px 3px #ffbe76;
}

.container h3{
	color: white;
	text-align: center;
}